#content {
    padding: 50px;
    margin: 20px;
    height: 100vh;
}

.div p{
    border: 20px solid brown;
    text-align: center;
}
header{
    text-align: center;
    padding-bottom: 30px;
}

.button{
    text-align: center;
    margin: auto;
    display: block;
}

html{
    background-color: antiquewhite;
}

.resize {
    float: right;
    height: 200 px;
    width: 200 px;
    margin: 15 px;
    border-radius: 50%;
    display: block;
}

.hyperlink{
    float: right;
}