#content {
    padding: 50px;
    margin: 30px;
    height: 50vh;
}

header{
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    background-image: url("1550509256606.png");
}

.button{
    text-align: center;
    margin: auto;
    display: block;
    padding-bottom: 30px;
}

html{
    background-color:khaki
}

div p{
    background-color: whitesmoke;
}

.resize {
    float: right;
    height: 600 px;
    width: 400 px;
    margin: 40 px;
    display: inline-flex;
}

.hyperlink a:hover{
    background-color: yellow;
}

.hyperlink{
    text-align: center;
    padding-top: 20px;
}

